{% extends 'templates/app.twig' %}

{% block content %}
    <section class="portfolio">
        <div class="row portfolio-header">
            <div class="twelve columns">
                <div class="portfolio-header__content">
                    <h2>Portfolio</h2>
                    <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit ples.</p>
                </div>
            </div>
        </div>

        <div class="row portfolio-item bg-dark">
            <div class="four columns portfolio-item__image">
                <img src="/images/person-woman-hand-smartphone.jpg">
            </div>
            <div class="eight columns portfolio-item__content">
                <h3>Contactzilla</h3>
                <div class="label-wrapper">
                    <span class="label label-default">CoffeeScript</span>
                    <span class="label label-default">MongoDB</span>
                    <span class="label label-default">CardDAV</span>
                    <span class="label label-default">Backbone JS</span>
                    <span class="label label-default">Zend 1</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
        </div>

        <div class="row portfolio-item bg-fade">
            <div class="four columns portfolio-item__image">
                <img src="/images/people-woman-coffee-meeting.jpg">
            </div>
            <div class="eight columns portfolio-item__content">
                <h3>BaseKit</h3>
                <div class="label-wrapper">
                    <span class="label label-default">Symfony 2</span>
                    <span class="label label-default">Docker</span>
                    <span class="label label-default">MySQL</span>
                    <span class="label label-default">API Documentation</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
        </div>

        <div class="row portfolio-item bg-dark">
            <div class="four columns portfolio-item__image">
                <img src="/images/surveys-artwork.jpg">
            </div>
            <div class="eight columns portfolio-item__content">
                <h3>Happy City</h3>
                <div class="label-wrapper">
                    <span class="label label-default">Laravel 5</span>
                    <span class="label label-default">PostgreSQL</span>
                    <span class="label label-default">PHPUnit</span>
                    <span class="label label-default">Twig</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
        </div>
    </section>
{% endblock %}
