{% extends 'templates/app.twig' %}

{% block content %}
    <section class="portfolio">
        <div class="row portfolio-header">
            <div class="twelve columns">
                <div class="portfolio-header__content">
                    <h2>Portfolio</h2>
                    <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit ples.</p>
                </div>
            </div>
        </div>

        <div class="row portfolio-item bg-dark">
            <div class="one-third column portfolio-item__image">
                <img src="/images/person-woman-hand-smartphone.jpg">
            </div>
            <div class="two-thirds column portfolio-item__content">
                <h3>Contactzilla</h3>
                <div class="label-wrapper">
                    <span class="label label-default front-end">CoffeeScript</span>
                    <span class="label label-default database">MongoDB</span>
                    <span class="label label-default back-end">CardDAV</span>
                    <span class="label label-default front-end">Backbone JS</span>
                    <span class="label label-default back-end">Zend 1</span>
                </div>
            </div>
        </div>

        <div class="row portfolio-item bg-dark">
            <div class="twelve columns portfolio-item__content">
                <p>Maybe do it like this... Test Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
        </div>
        <div class="row portfolio-item bg-dark">
            <div class="four columns portfolio-item__image">
                <img src="/images/people-woman-coffee-meeting.jpg">
            </div>
            <div class="eight columns portfolio-item__content">
                <h3>BaseKit</h3>
                <div class="label-wrapper">
                    <span class="label label-default back-end">Symfony 2</span>
                    <span class="label label-default dev-ops">Docker</span>
                    <span class="label label-default database">MySQL</span>
                    <span class="label label-default back-end">API Documentation</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
        </div>

        <hr>
        <div class="row portfolio-item bg-cream">
            <div class="four columns portfolio-item__image">
                <img src="/images/surveys-artwork.jpg">
            </div>
            <div class="eight columns portfolio-item__content">
                <h3>Happy City</h3>
                <div class="label-wrapper">
                    <span class="label label-default back-end">Laravel 5</span>
                    <span class="label label-default database">PostgreSQL</span>
                    <span class="label label-default back-end">PHPUnit</span>
                    <span class="label front-end">Twig</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
        </div>
        <hr>
    </section>
{% endblock %}
