{% extends 'templates/app.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Happy City</h3>
                <div class="label-wrapper">
                    <span class="label label-default">Laravel 5</span>
                    <span class="label label-default">PostgreSQL</span>
                    <span class="label label-default">PHPUnit</span>
                    <span class="label label-default">Twig</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive center-block" src="/images/surveys-artwork.jpg" alt="image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-md-push-5">
                <h3>Happy City</h3>
                <div class="label-wrapper">
                    <span class="label label-default">Laravel 5</span>
                    <span class="label label-default">PostgreSQL</span>
                    <span class="label label-default">PHPUnit</span>
                    <span class="label label-default">Twig</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="img-responsive center-block" src="/images/surveys-artwork.jpg" alt="image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Happy City</h3>
                <div class="label-wrapper">
                    <span class="label label-default">Laravel 5</span>
                    <span class="label label-default">PostgreSQL</span>
                    <span class="label label-default">PHPUnit</span>
                    <span class="label label-default">Twig</span>
                </div>
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem, vis numquam dolores ut, no eam unum maluisset. Duo omnium democritum cu, ad est quas menandri forensibus. Labore mollis referrentur qui no, ad sed fierent tacimates.</p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive center-block" src="/images/surveys-artwork.jpg" alt="image">
            </div>
        </div>
    </div>
{% endblock %}
