.footer {
    padding: 5% 0;

    .social {
        text-align: center;
        width: 100%;

        li {
            float: left;
            width: 33%;
            list-style: none;
        }
    }
}
