$blue: rgb(40, 170, 220);

.header {
  border: 1px solid red;
  padding: 5% 0;
  background-color: $blue;
}

.top-section__content {
    text-align: center;
}

.profile-image {
    margin: auto;
    width: 300px;
}

@media screen and (min-width: 400px) {
    .header {
        background-color: red;
    }
}

@media screen and (min-width: 550px) {
    .header {
        background-color: blue;
    }

    .top-section__content {
        text-align: left;
    }
}
