$blue: rgb(40, 170, 220);

.header {
  padding: 5% 0;
}

.top-section__content {
    text-align: center;

    img {
        margin: auto;
        width: 250px;
        border: 8px solid silver;
        border-radius: 100%;
    }
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 550px) {
    .top-section__content {
        text-align: left;
    }
}
