$blue: rgb(40, 170, 220);

.header {
    padding: 5% 0;
    background-image: url(../images/harbour_small_kelvin.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
}

.top-section__content {
    text-align: center;
    color: #FAFAFA;

    img {
        margin: auto;
        width: 50%;
        border: 3px solid #FAFAFA;
        border-radius: 100%;
    }

    p {
        text-transform: uppercase;
        font-size: small;
    }
}

.top-section__about {
    .social {
        text-align: center;

        .fa {
            margin: 0 10px;
            color: #FFF;
            font-size: 2.5em;
        }
    }
}

@media screen and (min-width: 420px) {
}

@media screen and (min-width: 550px) {
    .top-section__content {
        img {
            width: 45%;
        }
    }
}


@media screen and (min-width: 750px) {
    .top-section__content {
        img {
            width: 35%;
        }
    }
}

@media screen and (min-width: 1200px) {
}
