.portfolio {
    background-image: url(../images/background/tweed.png);
    background-repeat: repeat;

    .portfolio-item {
        padding: 0;
        margin: 0;
    }

    .bg-fade {
        background: linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.1)
        );
    }

    .bg-cream {
        background-image: url(../images/background/cream_dust.png);
        background-repeat: repeat;
        color: #2A2A2A;
    }

    .portfolio-item__image {
        img {
            margin:auto;
            display:block;
            width: 100%;
        }
    }

    .portfolio-item__content {
        padding: 5% 2% 0 2%;

        h3 {
            color: #FAFAFA;
            text-align: center;
        }
    }

    .portfolio-item__text {
        p {
            color: #FAFAFA;
            margin: 2%;
            padding: 2%;
        }
    }
}

@media screen and (min-width: 550px) {
    .portfolio {
        padding: 3%;

        .portfolio-item {
            .column, .columns {
                margin-left: 0%;
            }

            .one-third {
                width: 34.6666666667%;
            }

            .portfolio-item__image {
            }

            .portfolio-item__content {
                padding: 3%;

                h3 {
                    text-align: left;
                }
            }

            .portfolio-item__text {
                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    
}

@media screen and (min-width: 1200px) {

}
