.portfolio {
    background-image: url(../images/background/tweed.png);
    background-repeat: repeat;
    color: #CCC;

    .bg-fade {
        background: linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.1)
        );
    }

    .bg-cream {
        background-image: url(../images/background/cream_dust.png);
        background-repeat: repeat;
        color: #2A2A2A;
    }

    hr {
        background-image: url(../images/background/subtle_freckles.png);
        background-repeat: repeat;
        padding: 0;
        margin: 0;
        border: 0;
        height: 5px;
    }
}

.portfolio-header {
    padding: 5%;

    .portfolio-header__content {
        text-align: center;
    }
}

.portfolio-item__image {
    padding: 5% 0;

    img {
        margin:auto;
        display:block;
        width: 90%;
    }
}

.portfolio-item__content {
    padding: 5%;

    h3 {
        text-align: center;
    }

    p {
        padding-top: 5%;
    }
}

@media screen and (min-width: 550px) {
    
    .portfolio-item {
        .column, .columns {
            margin-left: 0%;
        }

        .one-third {
            width: 34.6666666667%;
        }

        .portfolio-item__content {
            padding: 3%;

            h3 {
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    
}

@media screen and (min-width: 1200px) {
    .portfolio-item__content {
        padding: 2%;
    }
}
