.footer {
  padding: 5% 0; }
  .footer .social {
    text-align: center;
    width: 100%; }
    .footer .social li {
      float: left;
      width: 33%;
      list-style: none; }

.header {
  padding: 5% 0; }

.top-section__content {
  text-align: center; }
  .top-section__content img {
    margin: auto;
    width: 250px;
    border: 8px solid silver;
    border-radius: 100%; }

@media screen and (min-width: 750px) {
  .top-section__content {
    text-align: left; } }

.label-wrapper {
  text-align: center;
  padding: 1%; }
  .label-wrapper .label {
    border: 1px solid red;
    padding: 1.5%;
    margin: 1%;
    font-size: 1.6rem;
    line-height: 2.5;
    letter-spacing: -.1rem;
    white-space: nowrap; }

@media screen and (min-width: 750px) {
  .label-wrapper {
    padding: 0; }
    .label-wrapper .label {
      margin-left: 0; } }

body {
  background-image: url(../images/background/cheap_diagonal_fabric.png);
  background-repeat: repeat; }

.portfolio {
  background-image: url(../images/background/tweed.png);
  background-repeat: repeat;
  color: #CCC; }
  .portfolio .bg-fade {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); }

.portfolio-header {
  padding: 5%; }
  .portfolio-header .portfolio-header__content {
    text-align: center; }

.portfolio-item__image {
  padding: 5% 0; }
  .portfolio-item__image img {
    margin: auto;
    display: block;
    width: 90%; }

.portfolio-item__content {
  padding: 5%; }
  .portfolio-item__content h3 {
    text-align: center; }
  .portfolio-item__content p {
    padding: 2% 0; }

@media screen and (min-width: 550px) {
  .portfolio-item__image img {
    width: 80%; } }

@media screen and (min-width: 750px) {
  .portfolio-item__content {
    padding: 3%; }
    .portfolio-item__content h3 {
      text-align: left; }
    .portfolio-item__content .label-wrapper {
      text-align: left; } }

@media screen and (min-width: 1200px) {
  .portfolio-item__content {
    padding: 2%; } }
