.footer {
  padding: 5% 0; }
  .footer .social {
    text-align: center;
    width: 100%; }
    .footer .social li {
      float: left;
      width: 33%;
      list-style: none; }

.header {
  padding: 5% 0; }

.top-section__content {
  text-align: center; }
  .top-section__content img {
    margin: auto;
    width: 94%;
    border: 8px solid silver;
    border-radius: 100%; }

@media screen and (min-width: 550px) {
  .top-section__content {
    text-align: left; } }

.label-wrapper {
  text-align: center; }
  .label-wrapper .label {
    color: #3A3A3A;
    padding: 1.5%;
    margin: 1%;
    font-size: 1.6rem;
    line-height: 2.5;
    letter-spacing: -.1rem;
    white-space: nowrap;
    background-color: #EEE; }
  .label-wrapper .front-end {
    border-left: 5px solid #D4DB0F; }
  .label-wrapper .back-end {
    border-left: 5px solid #C10F0F; }
  .label-wrapper .database {
    border-left: 5px solid #9B0BC6; }
  .label-wrapper .dev-ops {
    border-left: 5px solid #0E6ECE; }

@media screen and (min-width: 550px) {
  .label-wrapper {
    padding: 0;
    text-align: left; }
    .label-wrapper .label {
      margin-left: 0; } }

body {
  background-image: url(../images/background/cheap_diagonal_fabric.png);
  background-repeat: repeat; }

.portfolio {
  background-image: url(../images/background/tweed.png);
  background-repeat: repeat; }
  .portfolio .portfolio-item {
    padding: 0;
    margin: 0; }
  .portfolio .bg-fade {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); }
  .portfolio .bg-cream {
    background-image: url(../images/background/cream_dust.png);
    background-repeat: repeat;
    color: #2A2A2A; }
  .portfolio .portfolio-item__image img {
    margin: auto;
    display: block;
    width: 100%; }
  .portfolio .portfolio-item__content {
    padding: 5% 2% 0 2%; }
    .portfolio .portfolio-item__content h3 {
      color: #FAFAFA;
      text-align: center; }
  .portfolio .portfolio-item__text p {
    color: #FAFAFA;
    margin: 2%;
    padding: 2%; }

@media screen and (min-width: 550px) {
  .portfolio .portfolio-item {
    padding: 3%; }
    .portfolio .portfolio-item .column, .portfolio .portfolio-item .columns {
      margin-left: 0%; }
    .portfolio .portfolio-item .one-third {
      width: 34.6666666667%; }
    .portfolio .portfolio-item .portfolio-item__wrapper {
      padding-bottom: 3%; }
    .portfolio .portfolio-item .portfolio-item__content {
      padding: 3%; }
      .portfolio .portfolio-item .portfolio-item__content h3 {
        text-align: left; }
    .portfolio .portfolio-item .portfolio-item__text p {
      padding: 1% 0;
      margin: 0; } }
