.footer {
  padding: 5% 0;
  background-color: grey; }

.footer .social {
  text-align: center;
  width: 100%; }

.footer .social li {
  float: left;
  width: 33%;
  list-style: none; }

.header {
  border: 1px solid red;
  padding: 5% 0;
  background-color: green; }

.top-section__content {
  text-align: center; }

.profile-image {
  margin: auto;
  width: 300px; }

.label-wrapper {
  text-align: center;
  padding: 1%; }

.label {
  border: 1px solid red;
  padding: 1.5%;
  margin: 1%;
  font-size: 1.6rem;
  line-height: 2.5;
  letter-spacing: -.1rem;
  white-space: nowrap; }

.portfolio-item {
  background-color: orange; }

.portfolio-item__image {
  padding: 5% 0; }

.portfolio-item__image img {
  margin: auto;
  display: block;
  width: 350px; }

.portfolio-item__content {
  padding: 5%; }

.portfolio-item__content h3 {
  text-align: center; }

.portfolio-item__content p {
  padding-top: 5%; }
