/* Mobile first queries */
.header {
  border: 1px solid red;
  padding: 5% 0;
  background-color: green;
}

.top-section__content {
    text-align: center;
}

.profile-image {
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.portfolio-header {
    padding: 2%;
    border: 1px solid black;
}

.portfolio-header__content {
    border: 1px solid green;
    padding: 2%;
}

.portfolio-item {
    padding: 2%;
    border: 1px solid green;
}

.portfolio-item__header {
    border: 1px solid pink;
    padding: 2% 2% 0 2%;
}

.portfolio-item__content {
    border: 1px solid red;
    padding: 2%;
}

.portfolio-item__content p {
    padding-top: 5%;
}

.label-wrapper {
    border: 1px solid orange;
    padding: 1%;
}

.label {
    border: 1px solid red;
    padding: 1.5%;
    margin: 1%;
    font-size: 1.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

.footer {
  border: 1px solid blue;
  padding: 5% 0;
  background-color: grey;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .header {
        background-color: red;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .header {
        background-color: blue;
    }

    .top-section__content {
        text-align: left;
    }

    .portfolio-header {
        margin: 0;
    }

    .portfolio-header__content {
        padding: 5%;
    }

    .portfolio-item {
    
    }

    .portfolio-item__header {
        padding: 5% 5% 0 5%;
    }

    .portfolio-item__content {
        padding: 5%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
