<section class="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem.</p>
            </div>
            <div class="four columns">
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem.</p>
            </div>
            <div class="four columns">
                <p>Lorem ipsum dolor sit amet, purto labore cum no. In tantas aeterno expetendis quo. Ex nam offendit platonem scriptorem.</p>
            </div>
        </div>
    </div>
</section>
