<section class="footer">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="social">
                    <p><a href="https://github.com/mikelovely" target="_blank">GitHub</a> | <a href="https://twitter.com/mikelovelyuk" target="_blank">Twitter</a> | <a href="https://uk.linkedin.com/in/mike-lovely-179835101" target="_blank">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
