<section class="header">
    <div class="container">
        <div class="row top-section">
            <div class="top-section__content">
                <div class="six columns">
                    <img class="profile-image" src="images/profile.jpg">
                </div>
                <div class="six columns">
                    <h1>Mike Lovely</h1>
                    <p>Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
</section>
