<div class="row">
    <div class="twelve columns portfolio-header">
        <div class="portfolio-header__content">
            <h2>Portfolio</h2>
            <small>This is my portfolio</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>Contactzilla</h3>
            <div class="label-wrapper">
                <span class="label label-default">Zend 1</span>
                <span class="label label-default">MongoDB</span>
                <span class="label label-default">CardDAV</span>
                <span class="label label-default">Backbone JS</span>
                <span class="label label-default">CoffeeScript</span>
            </div>
        </div>
    </div>
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>BaseKit</h3>
            <div class="label-wrapper">
                <span class="label label-default">Symfony 2</span>
                <span class="label label-default">Docker</span>
                <span class="label label-default">MySQL</span>
                <span class="label label-default">API Documentation</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>Happy City</h3>
            <div class="label-wrapper">
                <span class="label label-default">Laravel 5</span>
                <span class="label label-default">PostgreSQL</span>
                <span class="label label-default">PHPUnit</span>
                <span class="label label-default">Twig</span>
            </div>
        </div>
    </div>
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>Chippin</h3>
            <div class="label-wrapper">
                <span class="label label-default">PHP</span>
                <span class="label label-default">Prestashop</span>
                <span class="label label-default">eCommerce</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>SourceCards</h3>
            <div class="label-wrapper">
                <span class="label label-default">Ruby on Rails</span>
                <span class="label label-default">PostgreSQL</span>
                <span class="label label-default">RSpec</span>
            </div>
        </div>
    </div>
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>Women's Aid</h3>
            <div class="label-wrapper">
                <span class="label label-default">Wordpress</span>
                <span class="label label-default">Timber</span>
                <span class="label label-default">ACF</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>Royal Warrant</h3>
            <div class="label-wrapper">
                <span class="label label-default">Drupal 7</span>
                <span class="label label-default">Custom Fields</span>
                <span class="label label-default">Google Analytics</span>
            </div>
        </div>
    </div>
    <div class="six columns portfolio-item">
        <div class="portfolio-item__content">
            <h3>MOD Surveys</h3>
            <div class="label-wrapper">
                <span class="label label-default">LimeSurvey</span>
                <span class="label label-default">Training</span>
                <span class="label label-default">Product Management</span>
            </div>
        </div>
    </div>
</div>
