<div class="row">
    <div class="twelve columns">
        <h2>Portfolio</h2>
        <small>This is my portfolio</small>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h3>Contactzilla</h3>
        <p>
        Zend 1
        MongoDB
        CardDAV
        Backbone JS
        CoffeeScript
        </p>
    </div>
    <div class="six columns">
        <h3>BaseKit</h3>
        <p>
        Symfony 2
        Docker
        MySQL
        API Documentation
        </p>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h3>Happy City</h3>
        <p>
        Laravel 5
        PostgreSQL
        PHPUnit
        Twig
        </p>
    </div>
    <div class="six columns">
        <h3>Chippin</h3>
        <p>
        PHP
        Prestashop
        eCommerce
        </p>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h3>SourceCards</h3>
        <p>
        Ruby on Rails
        PostgreSQL
        RSpec
        </p>
    </div>
    <div class="six columns">
        <h3>Women's Aid</h3>
        <p>
        Wordpress
        Timber
        ACF
        </p>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h3>Royal Warrant</h3>
        <p>
        Drupal 7
        Custom Fields
        Google Analytics
        </p>
    </div>
    <div class="six columns">
        <h3>MOD Surveys</h3>
        <p>
        LimeSurvey
        Training
        Product Management
        </p>
    </div>
</div>
